/* 
* @Author: Marte
* @Date:   2018-11-28 23:22:48
* @Last Modified by:   Marte
* @Last Modified time: 2018-12-02 00:28:19
*/
body {
    font: 12px Arial,Helvetica,sans-serif,宋体;
    width: 100%;
    color: #333;
}
.BOX{
    height: 2000px;
}
#shopheader{
    height: 140px;
    background:url('../img/shopcar/shopheader.png') no-repeat;
}
table{
    border-collapse: separate;
    width: 100%;
    /*border:1px */

    }
 table   .table_head{
    height: 39px;
    width: 100%;
    background:url('../img/shopcar/shopcarbg.png') repeat;
 }

 .all-products-ckb {
    margin-right: 10px;
}
.ckb {
    width: 13px;
    height: 13px;
}
table tbody tr{
    height: 90px;
    padding:15px 0;
}
table tbody tr td{
    height: 50px;
    text-align: center;
}

table  .image img{
    width: 50px;
    height: 50px;
    border: 1px solid #C8C8C8;

}
 table .qty .num{
    width: 60px;
    height: 20px;
    text-align: center;

 }

table .qty .add,table .qty .sub{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

table .qty .add:hover,table .qty .sub:hover{
    background: #a10000;
    color:#fff;

}

 .carmain_bottom{
     padding: 12px 10px 0px 0;
     background: none repeat scroll 0 0 #FFFEF5;
     border: 1px solid #EBE5BB;
    line-height: 25px;
    width: 968px;
    /*position: relative;*/
    /*top: -300px;*/
    z-index: 3;
 }
    
 .carmain_bottom .carmain_bottom_up{

     padding: 14px 42px 0 13px; 
 }

.carmain_bottom .carmain_bottom_up .delall{
    padding: 14px 42px 0 32px; 
}
.carmain_bottom .carmain_bottom_up  span em{
    padding:0 10px;
    color: #a10000;
    font-weight: bold;;
}

.carmain_bottom  .carmain_bottom_down{

}
.carmain_bottom  .carmain_bottom_down
.carmain_bottom_down_l{
    float: left;
    padding: 10px 10px 10px 13px;
}

.carmain_bottom  .carmain_bottom_down
.carmain_bottom_down_l .amount{
    font-size: 24px;
    font-weight: bold;
    color: #a10000;
} 
    
   .carmain_bottom  .carmain_bottom_down
.carmain_bottom_down_r{
    float: right;
    padding: 19px 0;
}
.carmain_bottom  .carmain_bottom_down
.carmain_bottom_down_r a {
    display:inline-block;
    
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    
}
 
.carmain_bottom  .carmain_bottom_down
.carmain_bottom_down_r  #continueshop  {
   background: #efefef;
   color: #727171;
   height: 40px;
   line-height: 40px;
   font-size: 14px;
   width: 100px;

} 

.carmain_bottom  .carmain_bottom_down
.carmain_bottom_down_r  .to_pay  {
        background: #b81c22;
        color: #fff;
        font-size: 22px;
        height: 50px;
        line-height: 50px;
        margin-left: 10px;
        width: 150px;
} 

.fix{
    position:fixed;
    bottom:0px;
    left:auto;
}
   

